<%- include('../partials/pages/header', {title: "1.5KW Solar Installation at Abeokuta "}); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Sponsorship</h1>
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Sponsorship</li>
            </ol>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">1.5KW Solar Installation at Abeokuta </h5>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-fluid pad" src="<%= publicPath %>img/panel.webp" alt="Photo">

                    <div class="card-footer p-0 mb-3 pt-3">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Total Cost <span class="float-right badge bg-success">&#8358; 3,000,000</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Price per unit <span class="float-right badge bg-success">&#8358; 5,000</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Total Unit <span class="float-right badge bg-info">500</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Unit Available <span class="float-right badge bg-danger">250</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-8">
                    
                    <h3 class="text-bold"> 1.5KW Solar Installation at Abeokuta </h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisl elit, pellentesque sed commodo vel, scelerisque ac nisi. Etiam a libero ipsum. 
                      Nunc elementum non eros et ullamcorper. Phasellus a massa sem. Sed elementum dui diam, at ultricies libero pretium blandit. Vivamus tempor justo mi, 
                      non condimentum leo posuere et. Fusce pulvinar tellus hendrerit nunc porta ornare. Fusce eu urna urna. Aenean faucibus vehicula convallis.
                    </p>
                    
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisl elit, pellentesque sed commodo vel, scelerisque ac nisi. Etiam a libero ipsum. 
                      Nunc elementum non eros et ullamcorper. Phasellus a massa sem. Sed elementum dui diam, at ultricies libero pretium blandit. Vivamus tempor justo mi, 
                      non condimentum leo posuere et. Fusce pulvinar tellus hendrerit nunc porta ornare. Fusce eu urna urna. Aenean faucibus vehicula convallis.
                    </p>
                    
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisl elit, pellentesque sed commodo vel, scelerisque ac nisi. Etiam a libero ipsum. 
                      Nunc elementum non eros et ullamcorper. Phasellus a massa sem. Sed elementum dui diam, at ultricies libero pretium blandit. Vivamus tempor justo mi, 
                      non condimentum leo posuere et. Fusce pulvinar tellus hendrerit nunc porta ornare. Fusce eu urna urna. Aenean faucibus vehicula convallis.
                    </p>

                    <a href="https://paystack.com/pay/a90g16wc78" class="btn btn-block btn-success btn-sm">Invest</a>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/pages/footer'); %>
